<div class="event-item" *ngFor="let event of events; trackBy: trackByMethod">
  <div *ngIf="event; else loading">
    <details>
      <summary>
        <p *ngIf="event.description; else nodesc">
          {{ event.id }} - {{ event.name }} - {{ event.description }}
        </p>
        <ng-template #nodesc> {{ event.id }} - {{ event.name }} </ng-template>
      </summary>
      <div *ngIf="event.image">
        <img [src]="imagePath + event.image.id" alt={{event.image.alt}} title={{event.image.title}}>
        <div class="btn-group">
          <button (click)="onDownload(event.image.id)">Télécharger</button>
        </div>
      </div>
      <p>{{ event.location }}</p>
      <p> Date de début : {{ event.start_date | date : "dd/MM/yyyy"  }}</p>
      <p *ngIf="event.end_date"> Date de fin : {{ event.end_date | date : "dd/MM/yyyy" }}</p>
      <p>{{ event.year }}</p>
      <div class="btn-group">
        <button (click)="update.emit(event)">Modifier</button>
        <button (click)="delete.emit(event.id)">Supprimer</button>
      </div>
    </details>
  </div>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
