<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class="control-group">
    <label for="email">Email</label>
    <input type="text" formControlName="email" placeholder="john@doe.com" id="email" autofocus autocomplete="email" /> </div>
  <div class="control-group">
    <label for="password">Mot de passe</label>
    <input type="password" formControlName="password" placeholder="Votre mot de passe" id="password" autocomplete="current-password" /> </div>

  <button style="display: block;" type="submit" [disabled]="loginForm.invalid">Soumettre</button>
</form>
<div id="register">
  <p>Pas de compte ?</p>
  <a routerLink="/user/register">S'inscrire</a>
</div>
