<h1>Evénements</h1>
<hr>
<div class="btn-group">
  <button (click)="onClear()">Rafraîchir la liste</button>
  <button (click)="onCreate()">Créer un événement</button>
</div>

<app-event-list *ngIf="events$ | async as eventsList; else noEventList" class="event-list" [events]="eventsList"
  (delete)="onDelete($event)" (update)="onUpdate($event)"></app-event-list>
<ng-template #noEventList>
  <p>Pas d'événement dans la liste</p>
</ng-template>

<div class="form-group" *ngIf="updateEvent">
  <div class="form">
    <button (click)="onUpdateClose()" class="close-modal">x</button>
    <h2>Modifier un événement</h2>
    <form [formGroup]="eventUpdateForm" (ngSubmit)="onSubmitUpdate()">
      <div class="control-group">
        <label for="idUpdate">Id</label>
        <input type="number" formControlName="id" placeholder="Id" readonly id="idUpdate" /> </div>

      <div class="control-group">
        <label for="nameUpdate">Nom</label>
        <input type="text" formControlName="name" placeholder="Nom" id="nameUpdate" /> </div>

      <div class="control-group">
        <label for="descriptionUpdate">Description</label>
        <input type="text" formControlName="description" placeholder="Description" id="descriptionUpdate" /> </div>

      <div class="control-group">
        <label for="locationUpdate">Lieu</label>
        <input type="text" formControlName="location" placeholder="Lieu" id="locationUpdate" /> </div>

      <div class="control-group">
        <label for="startDateUpdate">Date de début</label>
        <input type="datetime" formControlName="start_date" placeholder="Date de début" id="startDateUpdate" /> </div>

      <div class="control-group">
        <label for="endDateUpdate">Date de fin</label>
        <input type="datetime" formControlName="end_date" placeholder="Date de fin" id="endDateUpdate" /> </div>

      <div class="control-group">
        <label for="yearUpdate">Année</label>
        <input type="number" formControlName="year" placeholder="Année" id="yearUpdate" /> </div>

      <div class="btn-group">
        <button type="submit" [disabled]="eventUpdateForm.invalid">Modifier</button>
        <button (click)="eventUpdateForm.reset()">Réinitialiser</button>
        <button (click)="onCloning()">Cloner</button>
      </div>

    </form>
  </div>

</div>

<div class="form-group" *ngIf="createEvent">
  <div class="form">
    <button (click)="onCreateClose()" class="close-modal">x</button>
    <h2>Créer un événement</h2>
    <form [formGroup]="eventCreateForm" (ngSubmit)="onSubmitCreate()">
      <div class="control-group">
        <label for="nameCreate">Nom</label>
        <input type="text" formControlName="name" placeholder="Nom" id="nameCreate" />
      </div>
      <div class="control-group">
        <label for="descriptionCreate">Description</label>
        <input type="text" formControlName="description" placeholder="Description" id="descriptionCreate" /></div>

      <div class="control-group">
        <label for="locationCreate">Lieu</label>
        <input type="text" formControlName="location" placeholder="Lieu" id="locationCreate" /></div>

      <div class="control-group">
        <label for="startDateCreate">Date de début</label>
        <input type="datetime" formControlName="start_date" placeholder="Date de début" id="startDateCreate" /></div>

      <div class="control-group">
        <label for="endDateCreate">Date de fin</label>
        <input type="datetime" formControlName="end_date" placeholder="Date de fin" id="endDateCreate" /></div>

      <div class="control-group">
        <label for="yearCreate">Année</label>
        <input type="number" formControlName="year" placeholder="Année" id="yearCreate" /></div>

      <div class="btn-group">
        <button type="submit" [disabled]="eventCreateForm.invalid">Créer</button>
        <button (click)="eventCreateForm.reset()">Réinitialiser</button>
      </div>
    </form>
  </div>
</div>
