@import 'reset.scss';
@import 'variables.scss';

html {
  font-size: 16px;

  body {
    line-height: 1.3rem;
    font-size: 100%;
    font-family: $font-family;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-weight: 400;

    #app-root {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      #footer{
        position: fixed;
        bottom: 0;
      }
      .container {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: stretch;
      }
      // .btn,button{

      // }
      /****TYPOGRAPHY****/

      // h1, h2, h3, h4, h5, h6{

      // }
      // h1{

      // }
      // h2{

      // }
      // h3{

      // }
      // h4{

      // }
      // h5{

      // }
      // h6{

      // }
    }
  }
}
