// @import 'reset.scss';
@import 'variables.scss';
*{
  font-family: $font-family;
  font-weight: 600;
}
html {
  scroll-behavior: smooth;

  body {
    line-height: 1;
    font-family: $font-family;
    font-size: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-weight: 400;

    #app-root {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      #footer{
        position: fixed;
        bottom: 0;
      }
      .container {
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: stretch;
      }
      // .btn,button{

      // }
      /****TYPOGRAPHY****/

      // h1, h2, h3, h4, h5, h6{

      // }
      // h1{

      // }
      // h2{

      // }
      // h3{

      // }
      // h4{

      // }
      // h5{

      // }
      // h6{

      // }
    }
  }
}
#app-menu-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.event-item{
  min-width: 16rem;
  margin: 0.5rem;
}