/****TYPOGRAPHY****/

@font-face {
    font-family: Comfortaa;
    src: url(./assets/fonts/Comfortaa-VariableFont_wght.ttf);
}

$font-family : 'Comfortaa', sans-serif;
// $h1-font-size:;
// $h2-font-size:;
// $h3-font-size:;
// $h4-font-size:;
// $h5-font-size:;
// $h6-font-size:;

/****COLORS****/
$primary-color : #000000;
$secondary-color : #000000;
$warning-color : #000000;
